*{margin: 0;
padding: 0;
}

/* default css */
.clearfix::after{
    content: "" ;
    display: block;
    clear: both;
}
.fixed-with{
    width: 800px;
    margin: auto;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

img{
    max-width: 100%;
}

/* header */
.header{
    background-color:#2ecc71;
}
.header-left {
    float: left;
    width: 30%
}
.header-left img
{ width: 220px;
    height: auto;
}

.header-right{
    float: right;
    width: 70%;
    
    
}
.header-right ul{text-align: right;}

.header-right ul li{
    display:inline-block;
    margin-right: -5px;
}
.header-right ul li a{
    color: beige;
    padding:0 30px;
    display: block;
    text-decoration: none;
    line-height: 80px;
    border-right: 1px solid white;
    
}

.header-right ul li a:hover{
    background-color:#2c3e50 ;
    transition: .5s;
    
}

/* banner */

.banner-caption{
   background-image: url(./slider.jpg) ;
   padding: 160px 0;
   background-size: cover;
}

.services{
    margin: auto;
    
   
}

.services-item{

    float: left;
    width: 30.6%;
    text-align: center;
    border-right: 1px solid rgb(80, 167, 95);
    padding: 8.9px;
    margin-right: 1px;
    margin-left: 1px;
    display: inline-block;
    
    
}

.about{

    
   width: 450px;
   margin: auto;
    padding: 20px;
    margin-bottom: 20px;
    

    
}

h2{
    font-size: 30px;
    margin-top: 10px;
}
p{

    font-size: 16px;

}
span{

    background-color: slateblue;
    font-size: 22px;
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    
}



    
    
}
.blog-right img{
    float: left;
   
   width: 160px;
    
}
.blog-right p{
    float: right;
max-width: 400px;
display: inline-block;
   


    
}

.footerr{
    background-color: rgb(145, 139, 139);  
    padding: 15px;
    
}

.footer-right{
    float: right;
    
    width: 40%;

}

.footer-left{
    float: left;
    width: 60%;
}
.footer-right ul li {
    display: inline-block;
    list-style: none;

}